#uploader{
    text-align:center;
}

#fileList{
    padding: 0 20px;
}

#fileList img{
    width: 100%;

}

#dndArea{
    width:300px;
    height:150px;
    display:inline-block;
    margin:100px 0 50px 0;
    border-style: dashed;
}
#dndArea p{
    width:100%;
    height:100%;
    line-height:150px;
    margin:0;
}
.webuploader-container {
	position: relative;
    text-align:center;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    width: 300px;
    height: 45px;
    line-height:45px;
	position: relative;
	display: inline-block;
	cursor: pointer;
    background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}


